body{
	font-family: Calibri, arial, sans-serif
}

.events {
	height: 589px;
	overflow-y: scroll;
	width: 660px;
    margin: 0 auto;
}

.events table {
	background-color: black;
	margin: 0 auto;
}

.events th, .events td {
	text-align: center;
	border: 1px solid black;
	background-color: white;
	padding: 5px;
}

.bar-container {
	height: 30px;
    border: 1px solid black;
    overflow-y: auto;
    width: 1000px;
    position: relative;
}

.bar div {
	height: 20px;
    background-color: steelblue;
}

.bar-chart {
	margin: 10px 0
}

.bar-chart tr,
.bar-chart td {
	background-color: white;
}

.ip-address {
    width: 6%;
    text-align: left;
    height: 25px;
}

